<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Геоуказатель к монографии А.А. Фролова НОВГОРОДСКИЕ ПИСЦОВЫЕ КНИГИ: ИСТОЧНИКИ И МЕТОДЫ ИССЛЕДОВАНИЯ”. М-СПб., Альянс-Архео, 2017. ISBN 978-5-98874-142-8</title>
    <link rel="stylesheet" href="css/leaflet.css" />    
    <link rel="stylesheet" href="vendor/leaflet/MarkerCluster.css" />
    <link rel="stylesheet" href="vendor/leaflet/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="vendor/iconLayers/iconLayers.css" />
    <link rel="stylesheet" href="vendor/leaflet/leaflet.mouseposition.css" />
    <link rel="stylesheet" href="css/main.css" />


    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="vendor/leaflet/leaflet.js"></script>    
    <script src="vendor/leaflet/leaflet.markercluster.js"></script>
    <script src="vendor/leaflet/leaflet-omnivore.min.js"></script>
    <script src="vendor/leaflet/leaflet.mouseposition.js"></script>
    <script src="vendor/iconLayers/iconLayers.js"></script>
    <script src="vendor/proj4leaflet/proj4-compressed.js"></script>
    <script src="vendor/proj4leaflet/proj4leaflet.js"></script>

</head>
    <body class="body--withRightPanel">
        <div class="object-list right-panel active loading">
            <div id="vue-app">
                <plans ref="plans"></plans>
            </div>
        </div>  
        <div id="object-info-right-panel" class="object-info right-panel right-panel--dyn">
            <div class="object-info__content"></div>
            <a href="#" class="close" data-close-right-panel="object-info-right-panel">
                <svg class="close__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </a>
        </div>
        <div id="about-right-panel" class="about right-panel right-panel--dyn">
            <div class="h1">О проекте</div>
            <p>Лаборатория исторической геоинформатики ИВИ РАН представляет инновационный формат географического указателя научной монографии, позволяющий пользователю не только найти упоминание того или иного топонима на страницах монографии, но и сразу увидеть его расположение на карте (если название поддается локализации). В данной веб-ГИС удалось объединить результаты специальных историко-географических штудий автора (полученных при активном использовании ГИС), с последними достижениями веб-ГИС технологий, позволяющих предоставить доступ к пространственным данным через интернет-браузер.</p>
            <p>Фронтенд страницы веб-ГИС подготовлен разработчиком программного обеспечения в области геоинформатики компанией NextGIS (<a href="http://nextgis.ru">http://nextgis.ru</a>) на основе фронтенда, созданного ранее той же компанией по проекту нашей Лаборатории “Чертежи Русского государства XVI-XVII вв.”.</p>
            <br>
            <p>А.А. Фролов</p>
            <a href="#" class="close" data-close-right-panel="about-right-panel">
                <svg class="close__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </a>
            <div class="ngw-copyright">Работает на <a href="http://nextgis.ru/nextgis-com/" target="_blank">nextgis.com</a></div>
        </div>
        <div class="map-container">
            <div id="map" class="map">                
                <div class="map-opacity map-control leaflet-bar">
                    <div class="map-opacity__inner">
                        <span class="map-opacity__icon fa fa-adjust"></span>
                        <input class="map-opacity__control" id="raster_opacity" type="range" min="30" max="100" step="1" value="100">
                    </div>
                </div>
            </div>
            <h1 class="map-title">Геоуказатель к монографии А.А. Фролова НОВГОРОДСКИЕ ПИСЦОВЫЕ КНИГИ: ИСТОЧНИКИ И МЕТОДЫ ИССЛЕДОВАНИЯ”. М-СПб., Альянс-Архео, 2017. ISBN 978-5-98874-142-8</h1>
        </div>

        <!-- right panel with plans template -->
        <script id="plansPanelTemplate" type="text/x-template">
            <div class="plans-panel">
                <div class="plans-panel__search">
                    <search @search:changed = "searchQuery = $event"></search>
                </div>
                <plans-list :items="sortedItems"
                            :activeItem="activeItem"
                            @planIsClicked="activateItem($event, {
                                withZooming: true, 
                                withScrolling: false
                            })"
                            ref="plansList"></plans-list> 
            </div>
        </script>

        <!-- plans list template -->
        <script id="plansListTemplate" type="text/x-template">
            <div class="plans-list__wrapper">
                <table class="plans-list" cellspacing="0">
                    <tbody>
                        <tr v-for="item in items"
                             class="plan-item" :class="{'plan-item--active': activeItem === item}"
                             :ref="item.feature.properties.ogc_fid"
                             @click = "$emit('planIsClicked', item)">
                            <td><div class="plan-item__num">{{ item.feature.properties.ogc_fid }}</div></td>  
                            <td>
                                <div class="plan-item__title h2">{{item.feature.properties.toponym}}</div>
                                <div class="plan-item__meta">Страницы: {{ item.feature.properties.pages }}</div>
                            </td>
                            <td><div class="plan-item__group">{{item.feature.properties.group}}</div></td>
                        </tr>

                        <tr v-if="!items.length" class="plan-item plan-item--noresult"><td colspan="3">Ничего не найдено</td></tr>
                    </tbody>
                </table>
            </div>
        </script>

        <!-- search template -->
        <script id="searchTemplate" type="text/x-template">
            <div class="search">
                <input class="search__input form-control" type="search" placeholder="Искать объект"
                       v-model="searchQuery"
                       @input="$emit('search:changed', searchQuery)">
            </div>
        </script>

        <script lang="text/javascript">
            var layers = [
                {
                    name: 'multipolygons',
                    url: 'http://histgeo.nextgis.com/api/resource/1095/geojson',
                    style: {
                        color: '#4CAF50',
                        weight: 1
                    }
                },
                {
                    name: 'lines',
                    url: 'http://histgeo.nextgis.com/api/resource/1097/geojson',
                    style: {
                        color: '#1565c0',
                        weight: 2
                    }
                },
                {
                    name: 'polygons',
                    url: 'http://histgeo.nextgis.com/api/resource/1093/geojson',
                    style: {
                        color: '#1565c0',
                        weight: 2
                    }
                },
                {
                    name: 'points',
                    url: 'http://histgeo.nextgis.com/api/resource/1099/geojson',
                    style: {
                        color: 'tomato'
                    }
                }
            ],
            layersData = [];
        </script>

        <script src="vendor/vue/vue.min.js"></script>
        <script src="vendor/polyfills/polyfill.min.js"></script>
        <script src="js/loadData.js"></script>
        <script src="js/base_layers.js"></script>
        <script src="js/map.js"></script>
        <script src="js/plans.js"></script>
    </body>
</html>
